# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django migrations
**/migrations/*
!**/migrations/__init__.py

# Database
*.sqlite3
*.db

# Media files
/media/

# Static files
/staticfiles/
/static/

# Virtual environments
env/
venv/
ENV/
.env/
.venv/

# Secrets
.env

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# Pytest
.cache/
.pytest_cache/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Node (if using React/Vue frontend)
node_modules/
build/
dist/
